/* 全体*/
.root {
  width: 100%;
  position: relative;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  color: #2c3e50;
}

section:not(:last-child) {
  border-bottom: 1px solid #778899;
  padding-bottom: 16px;
}

/* section要素*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  text-align: center;
}

.wrapper > img {
  width: 100%;
}

/* コンテンツ*/
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* 保有資格*/
.skillWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* skill名*/
.skillName {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillIcon {
  width: 24x;
  height: 24px;
  border-radius: 4px;
}