/* 全体*/
.header {
  width: 100%;
  height: 10svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

/* githubIcon*/
.header a,.header img {
  height: 100%;
  border-radius: 4px;
}

/* icons*/
.leftDiv {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 100%;
}

/* tab*/
.rightDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rightDiv > span:not(:last-child):hover,.rightDiv > span:not(:last-child):active,.active {
  color: #008080 !important;
}

.rightDiv > span:last-child {
  opacity: 0.3;
}