@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
body {
  margin: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 ;
  margin: 0;
}

 * {
  box-sizing: border-box; 
  padding: 0
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
